html, body {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    background-color: lightgray;
    height: 100%;
}

.container {
    display: flex;
    background-color: plum;
    text-align: center;
    border: 3px solid black;
    border-top: 0px;
}

.container div {
    width: 16.6%;
}

#home {
    width: 50%;
}

.containerPt2 {
    display: flex;
    background-color: plum;
    text-align: center;
    border: 2px solid black;
    border-bottom: 0px;
    position:relative;
    bottom: 0;
    width: 100%;
}

.containerPt2 div{
    width: 16.67%;
}

.containerImg {
    display: flex;
    flex-wrap: wrap;
}
.containerImg>* {
    flex: 1 1 30%;
}

#a, #b, #c, #d, #e, #f {
    background-image: url(thoms.gif);
    justify-self: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 300px;
}

@media screen and (max-width: 1000px) {
    .container div {
        width: 25% !important;
    }
}

@media screen and (max-width: 675px) {
    .container, .containerPt2 {
        display: flex;
        flex-wrap: wrap;
    }
    .container>* {
        flex: 1 1 35%;
    }
    .containerPt2>* {
        flex: 1 1 35%;
    }
    .containerImg>* {
        flex: 1 1 50%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .container>* {
        flex: 1 1 100%;
    }
    .containerImg>* {
        flex: 1 1 100%;
    }
}