html {
    background-color: palevioletred;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 20px);
  grid-template-rows: 200px 200px;
  grid-template-areas:
    "a b c d"
    "e f g h";
  gap: 10px;

  border: solid black 2px;
  text-align: center;
  justify-content: center;
}

.container div {
  line-height: 200px;
}

.a {grid-area: a;}
.b {grid-area: b;}
.c {grid-area: c;}
.d {grid-area: d;}
.e {grid-area: e;}
.f {grid-area: f;}
.g {grid-area: g;}
.h {grid-area: h;}

.container div:nth-of-type(7n + 1) {background-color: pink;}
.container div:nth-of-type(7n + 2) {background-color: red;}
.container div:nth-of-type(7n + 3) {background-color: blue;}
.container div:nth-of-type(7n + 4) {background-color: purple;}
.container div:nth-of-type(7n + 5) {background-color: green;}
.container div:nth-of-type(7n + 6) {background-color: lightblue;}
.container div:nth-of-type(7n + 7) {background-color: yellow;}