.container {
    display: inline-grid;
    justify-items: center;
    justify-self: center;
    grid-template-columns: 50% 50%;
    height: 50%;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#img {
    width: 75%;
    height: 50%;
    margin-top: 15%;
    background-repeat: no-repeat;
    background-image: url(tiger.jpg);
    background-size: 100% 100%;
}

#text {
    width: 60%;
    height: 50%;
    margin-top: 15%;
    padding-right: 40%;
}