html {
    background-color: palevioletred;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    row-gap: 10px;
    text-align: center;
    line-height: 100px;
    border: 2px solid black;
    width: 300px;
}

.A {background-color: yellow;}
.B {background-color: pink;}
.C {background-color: red;}
.D {background-color: blue;}
.E {background-color: purple;}
.F {background-color: green;}
.G {background-color: lightblue;}