.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

div {
    margin: 7px 3px 7px 3px;
    width: 100px;
    height: 20px;
}

* {
    display: inline-block;
    text-align: center;
}

@media screen and (max-width:900px) {
    * {
        text-align: center;
        display: grid;
        grid-gap: 14px;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: 25px;
        grid-template-areas: "a1 a2 a3 a4" "";
    }

    a1 {grid-template-areas: a1;}
    a2 {grid-template-areas: a2;}
    a3 {grid-template-areas: a3;}
    a4 {grid-template-areas: a4;}
}

@media screen and (max-width:500px) {
    * {
        display: block;
    }
}

