* {
    display: block;
    font-family: Courier;
    font-weight: 50;
    color: orange;
    letter-spacing: 8px;
}

#doneer {
    float: left;
    width: 50%;
    margin-right: 3%;
}

#bescherm {
    float: right;
    width: 50%;
}