.container {
    display: flex;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
}
.container div {
    border: 1px solid green;
    height: 200px;
    text-align: center;
}

.container>* {
    flex: 1 1 20%;
}

.geel {
    background-color: yellow;
}
.rood {
    background-color: red;
}
.blauw {
    background-color: blue;
}
.paars {
    background-color: purple;
    height: 20px !important;
    line-height: 20px !important;
}